.pageTitle {
    font-size: 40px;
    margin-top: 20px;
}

.middle {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center; /* 아이템들을 세로 중앙에 정렬 */
}

.crews-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    padding: 20px;
}

@media (max-width: 768px) {
    .middle {
        flex-direction: row; /* 요소들을 가로로 정렬 */
        flex-wrap: wrap; /* 필요하다면 여러 줄로 나눠서 정렬 */
    }
}